div {
    height: 100px;
    width: 300px;
    display: inline;
}

a {
    display: inline-block;
    height: 100px;
    width: 300px;
    font-size: larger;
    text-decoration: none;
    color: pink;
    background-image: url(../image/img2.jpg);
    text-align: center;
    line-height: 100px;
}

a:hover {
    background-image: url(../image/img1.jpg);
}